/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF
*/
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    /* color: white; */
}
#background{
    background-image:url("landing.jpg");
    background-size: contain;
    color: white;
    height: 700px;
     /* background-repeat: no-repeat;  */
    text-align: center;
    
}
h1{
    padding-top: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#img1{
    
    height: 40px;
    /* padding-right: 1000px; */
    display: inline-block;
}
#nav{
    display: flex;
    
 padding-left: 20px;
 padding-right: 5px;
 background-color: white;
 padding-top: 15px;
 padding-bottom: 10px;
    position: fixed;
    height: 40px;
    width: 1500px;
}
a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(18, 17, 17);
}
h2{
    text-align: center;
    text-decoration:underline   rgb(2, 140, 2); 
}
#container{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1400px;
    margin-bottom: 40px;
    
}
#box1{
    height: 200px;
    width:200px;
    padding-top: 20px;
    text-align: center;
}
#box2{
    height: 200px;
    width:200px;
    padding-top: 20px;
    text-align: center;
}
#box3{
    height: 200px;
    width:200px;
    padding-top: 20px;
    text-align: center;
}
.items{
    height: 80px;

}
h3{
    color:rgb(2, 140, 2)
}
h4{
    text-decoration: underline;
    font-size: 20px;
}
h5{
    font-weight: 400px;
    display: inline-block; 
    font-size: 16px;
}
pre{
    display: inline-block;
}
item1{
    padding-left: 20px;
}
#green{
    background-color: rgb(2, 140, 2);
    color: white;
    height: 500px;
    width: 1400px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    display: flex;
    
}
.navbar{
    height: 40px;
    background-color: white;
    display: flex;
    
    justify-content: space-between;
    position:fixed;
    width: 1474px;
    align-items: center;

}
#content{
    display: inline-block;
}
#icon{
    display: inline-block;
    height: 100px;
    width: 800px;
    align-self: center;
}
#app{
    display: inline-block;
    height: 400px;
    width:300px;
    align-items: center;
}
#imgicon{
    height: 80px;
}
#imgapp{
    height: 500px;
}
