/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF
- Circular, Helvetica, Arial
- normal

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: scroll;
  font-family: "Helvetica", "Arial", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: fixed;
  background-color: white;
  width: 100%;
}

.nav-right {
  display: flex;
}

.spotify-image {
  width: 15rem;
}

.li {
  margin-right: 1rem;
}

.hero-section-1 {
  background-image: url(/RootLearn-WebDevelopment/Week-1/Day-3/lab-css-spotify-clone/images/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Helvetica";
}

.hero-1-heading {
  font-style: light;
  font-weight: 700;
  font-size: 5rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.hero-1-para {
  font-style: light;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  width: 35%;
  text-align: center;
}

.hero-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 4rem 0;
}

.hero-2-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  width: 68%;
}

.hero-2-card-img {
  width: 10rem;
}

.hero-2-card {
  margin-left: 2rem;
  padding: 6rem 6rem 6rem 6rem;
}

.hero-2-h2 {
  margin-top: 1rem;
  color: #00b172;
}

.hero-2-para, .hero-3-para {
  margin-top: 1.5rem;
    font-weight: lighter;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.hero-3 {
display: flex;
justify-content: flex-start;
align-items: flex-start;
background-color: #00b172;
color: white;
padding: 5rem 5rem;
margin: 5rem;
}

.hero-3-center-img{
  width: 8rem;
  height: 8rem;
  margin: auto;

}

.kanye-west-img{
  width: 20rem;
  margin: auto;
}

.hero-3-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.her0-3-heading, .hero-3-card, .hero-3-h2{
  margin-bottom: 2rem;
  width: 40%;
}

.her0-3-heading {
    font-style: light;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 4rem;
    width: 80%;
}

.kanye-whiteline {
  height: 3px;
  border: 2px solid white;
  color: white;
}