/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
nav { 
    position: fixed;
}
.navbar-brand{
    width: 70%; /* Cambia este valor según lo pequeño que quieras que sea el logo */
    height: 50px; 
  
}
.logo {
    width: 160px; /* Cambia este valor según lo pequeño que quieras que sea el logo */
    height: auto; /* Mantén la relación de aspecto original */
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 10%;
}

.image-container{
    position: relative;
    width: 100%;    
    max-height: 70%;/* Ajusta la altura máxima según tus necesidades */
    overflow: hidden;
}

.image-container img{
    width: auto; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 20%;
    object-fit: cover;
    object-position: center; /* Mantiene la proporción original de la imagen */
}
h1{
    font-size: 90px;
    text-align: center;
    color: white;
    position: absolute; /* Permite posicionar el título sobre la imagen */
    top: 50%; /* Lo coloca en el centro verticalmente */
    left: 50%; /* Lo coloca en el centro horizontalmente */
    transform: translate(-50%, -140%); /* Centra el título exactamente en el centro */
    padding: 10px 50px; 
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */ /*Añade espacio alrededor del texto */
}
.lead{
    font-size: 30px;
    text-align: center,justify;
    color: white;
    position: absolute; /* Permite posicionar el título sobre la imagen */
    top: 50%; /* Lo coloca en el centro verticalmente */
    left: 50%; /* Lo coloca en el centro horizontalmente */
    transform: translate(-50%, -20%);
}
h2{
    position: relative;
    font-size: 45px; /* Cambia el tamaño a tu preferencia */
    margin-bottom: 30px; /* Espacio entre el título y el subrayado */
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 4px; /* Grosor del subrayado */
    background-color: #00B172; /* Mismo color que el texto */
    display: block;
    margin-left: 37%;
}
.container{
    margin-bottom: 40px
}
.col{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.icons{
    height: 90px;
    width: 90px;
    align-self: center;
}
h4{
    color: #00B172;
    margin-top: 15px;
    text-align: center;
}
.body-icons{
    padding-top: 10px;
    text-align: center;
}
.container1{
    margin-left: 30px;
    margin-right: 30px;
    background-color: #00B172;
    padding-bottom: 5px;
    
}
.sub{
    position: relative;
    font-size: 24px; /* Cambia el tamaño a tu preferencia */
    margin-bottom: 30px; /* Espacio entre el título y el subrayado */
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}

.sub::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 14%;
    height: 4px; /* Grosor del subrayado */
    background-color: #00B172; /* Mismo color que el texto */
    display: block;
    margin-left: 43%;
}
.contenedor{
    position: relative;
    width: 88%;    
    height: 100%;/* Ajusta la altura máxima según tus necesidades */
    overflow: hidden;
    padding: 0px 20px 0px 50px;
    margin: 80px 0px 0px 0px;
}

.contenedor img{
    width: 50%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto;
    object-fit: cover;
    object-position: center; /* Mantiene la proporción original de la imagen */
    margin-left: 150px;
}

.sub-titulo{
    position: relative;
    font-size: 45px; /* Cambia el tamaño a tu preferencia */
    margin-bottom: 30px; /* Espacio entre el título y el subrayado */
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    color: #FFF;
}
.spotify-white{
    position: relative;
    width: 20%;    
    height: 20%;/* Ajusta la altura máxima según tus necesidades */
    overflow: hidden;
    transform: translate(410%, -230%);
}
.spotify-white img{
    width: auto; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto;
    object-fit: cover;
    object-position: center; /* Mantiene la proporción original de la imagen */
}

.sub-titulo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 78%;
    height: 4px; /* Grosor del subrayado */
    background-color: #FFF; /* Mismo color que el texto */
    display: block;
    margin-left: 80px;
}

.sub-player{
    color:#FFF;
    text-align: left;
    padding: 20px 0px 0px 80px;
    margin-top: 10px;
}
.descript-spotify{
    color:#FFF;
    text-align: left;
    margin: 15px 0px 0px 80px; /* Arriba, derecha, abajo, izquierda */
}
