:root {
    --text: #1A1A1A;
    --green: #00B172;
    --white: #FFF;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
  }
  
  html::-webkit-scrollbar {
    display: none;
  }
  
  header {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
  }
  
  nav {
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav img {
    width: 150px;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .hero-section {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white)
  }
  
  .hero-section h1 {
    font-size: 2.5rem;
  }
  
  .hero-section p {
    font-size: 1.5rem;
    width: 45%;
    text-align: center;
  }
  
  .about-section {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text);
    padding: 2rem;
  }
  
  .about-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  
  .about-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
  
  .about-card img {
    width: 50px;
    height: 50px;
  }
  
  .about-card p {
    width: 50%;
    color: var(--text);
  }
  
  .about-card h2 {
    color: var(--green);
  }
  
  .footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .footer-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--green);
    color: var(--white);
    padding: 4rem;
    position: relative;
  }
  
  .footer-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-img img {
    width: auto;
    height: 40rem;
  }
  
  .footer-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footer-content h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  
  .footer-content div {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
  }
  
  .footer-content div h2 {
    font-size: 2rem;
  }
  
  .footer-content div p {
    font-size: 1.2rem;
    width: 50%;
  }
  
  .logo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
  }
  