:root{
    --text: #1A1A1A;
    --green: #00B172;
    --white: #FFF;
    }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.navbar{
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 7px;
    align-items: center;
    align-content: center;
    background-color: white;

}
.logo{
    float: left;
}
.logo img {
    height : 50px;
}
.opt ul{
    padding: 10px;
    padding-top: 20px;
    padding-right: 30px;
    color: #1A1A1A;
    float: right;
}

/*  */

.landing{
    width: 100%;
    height: 35rem;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white)
}

.landing h3{
    color: white;
    font-size: 4rem;
    padding-bottom: 30px;

}
.landing p{
    color: white;
    font-size: 1.5rem;

}


/* Info */

.info{
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--text);
    padding: 2rem;
}

.parts{
 
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align:center;

}

#part {
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex:1;
        width:100%;
        flex-direction: column;
        border-left: #1A1A1A 1px solid;
}

#part img{
    width: 5rem;
    height: 5rem;
}
#part p{
    width: 60%;
    color: var(--text);
    justify-content: center;
    text-align: center;
}
#part h5{
    color: var(--green);
}

.sec3{
    background-color: #00B172;
    color:#FFF ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}
.logom img{
    max-width: 40px;
}
.app img{
    max-width: 270px;
}
.app{
    margin: 50px;
}
.text{
    padding: 20px;
    width: 300px;
}
.psec2{
    border-bottom: 2px solid #FFF;
    padding-bottom: 30px;
}

.subtext{
    display: flex;
    flex-direction: column;
}
.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
  }
.centered2 {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    width: 500px;
  }