/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0;
    left: 8px;
    right: 8px;
    background-color: #ffffff;
    z-index: 1;
}

#header-logo {
    display: inline-block;
}

#header-logo img {
    padding: 10px;
    width: 200px;
}

ul {
    float: right;
    padding: 10px;
    margin-top: 1.4%;
    display: flex;
    flex-direction: row;
    list-style: none;
}

li a {
    text-decoration: none;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: black;
}

#bg-img {
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

#bg-img img {
    width: 100%;
    height: 600px;
}

#line1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    color: #FFF;
    position: absolute;
    top: 25%;
    padding-bottom: 0px;
}

#line2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0px;
    
    color: #FFF;
    position: absolute;
    top: 38%;
}

#line3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFF;
    position: absolute;
    
}

.heading-2 {
    text-align: center;   
}

#music-card {
    padding-top: 30px;
    
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    
    
}

#box1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#box2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#box3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1 img {
    height: 100px;
    width: 100px;
    padding-bottom: 0px;
}

#box2 img {
    height: 100px;
    width: 100px;
    padding-bottom: 10px;
}

#box3 img {
    height: 100px;
    width: 100px;
    padding-bottom: 0px;
}

#green {
    font-size: 25px;
    color: #00B172;
}

#content {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

#content1 {
    width: 350px;
}

.footer {
    background-color: #00B172;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.footer_main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--green);
    color: var(--white);
    padding: 4rem;
    position: relative;
}

.footer_img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_img img {
    width: auto;
    height: 40rem;
}

.footer_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_content h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.footer_content div {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white);
}

.footer_content div h2 {
    color: white;
    font-size: 2rem;
}

.footer_content div p {
    color: white;
    font-size: 1.2rem;
    width: 50%;
}

.logo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: 100px;
}