/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    border: 1px solid #000000;
}
.image {
    margin: 10px;
}
img {
    width: 150px;
    height: 50px;
}
.menu {
    display: flex;
    gap: 2rem;
    margin: 30px;
}
.content {
    background: url('landing.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    height: 90vh;
    padding-top: 20%;
    font-size: 200%;

}

.middle {
    font-weight: 900; /* Make the text very bold */
    display: block; /* Display the text on a separate line */
    font-size: 67px; /* Adjust the size as needed */
    margin-bottom: 10px; 
}
.para {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.head {
    margin-top: 30px;
    text-align: center;
    font-weight: 900; /* Make the text very bold */
    display: block; /* Display the text on a separate line */
    font-size: 30px; /* Adjust the size as needed */
    margin-bottom: 30px; 

}
.heads {
    border-bottom: 3px solid #20a126;
    margin-bottom: 30px; 
}
.icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 230px;
    /* flex-direction: column; */
}
.icon1 {
    display: flex;
    flex-direction: column;
}
.icon2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40px;
}
.icon3 {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 50px;
}
.icon1 img {
    height: 15vh;
    margin-left: 80px;
}
.icon2 img {
    height: 15vh;
}
.icon3 img {
    height: 15vh;
}
.icon1 .head1 {
    color: #20a126;
    font-size: 30px;
    position: relative;
    left: 30px;
    margin-top: 10px;
    font-weight: 800;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
}
.icon1 .p1 {
    border: 1px #000000;
    width: 200px;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 22px;
    position: relative;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: center;
}
.icon2 .head2 {
    color: #20a126;
    font-size: 30px;
    position: relative;
    right: 50px;
    margin-top: 10px;
    font-weight: 800;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
}
.icon2 .p2 {
    border: 1px #000000;
    width: 250px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 22px;
    position: relative;
    right: 60px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: center;
}
.icon3 .head3 {
    color: #20a126;
    font-size: 30px;
    position: relative;
    right: 60px;
    margin-top: 10px;
    font-weight: 800;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 2px;
}
.icon3 .p3 {
    border: 1px #000000;
    width: 200px;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 22px;
    position: relative;
    right: 100px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align: center;
}
.box {
    background-color: #20a126;
    margin: 30px;
    display: flex;
    color: #fff;
}
.box .firstcol h1 {
    margin-top: 50px;
    margin-left: 60px;
}
.box .firstcol .title {
    border-bottom: 2px solid #fff;
}
.box .firstcol p {
    margin-top: 30px;
    margin-left: 60px;
    width: 240px;
    margin-bottom: 20px;
}
.secondcol {
    position: relative;
    top: 350px;
}
.secondcol img {
    height: 120px;
    width: 100px;
}
.thirdcol img {
    height: 600px;
    width: 260px;
    position: relative;
    left: 200px;
    top: 80px;
}